.cardContainerAdvice {
    margin-top: 5% !important;
    background-attachment: fixed;
}

.cardPosition {
    background-attachment: fixed;
    position: fixed;
}

div  {
    text-align: justify;
}


