.heightMeasuresLabel {
    width: 100px;
    margin: 0;
    min-width: 50px;
    padding-right: 320px;
}

.weightMeasuresLabel {
    width: 100px;
    margin: 0;
    min-width: 50px;
    padding-left: 15px;
}